<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="ActiveCnn" value="ConStr"/>
    <add key="CircuitBreakerMaxFailures" value="5"/>
    <add key="CircuitBreakerInvocationTimeout" value="10000"/>
    <add key="CircuitBreakerResetTimeout" value="5000"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ConStr1" connectionString="Data Source=185.83.208.150;Initial Catalog=TASSBase;uid=admin;password=adm321(;Connect Timeout=50" providerName="System.Data.SqlClient"/>
    <add name="ConStr2" connectionString="Data Source=185.83.208.150;Initial Catalog=cinemagishe;uid=cinemagishe2;password=:Ujf%C+P2#c2F4r;Connect Timeout=50" providerName="System.Data.SqlClient"/>
    <add name="ConStr" connectionString="Data Source=Server\I2k14;Initial Catalog=TASSBase;uid=admin;password=adm321(;Connect Timeout=5" providerName="System.Data.SqlClient"/>
    <add name="ConStr3" connectionString="Data Source=Server\I2k14;Initial Catalog=DashboardV1;uid=admin;password=adm321(;Connect Timeout=5" providerName="System.Data.SqlClient"/>
    <add name="FilmsEFmodel" connectionString="data source=185.83.208.150;initial catalog=cinemagishe;persist security info=True;user id=cinemagishe2;password=:Ujf%C+P2#c2F4r;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
