<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Logger.Type" value="Console"/>
    <add key="Logger.Mode" value="App"/>
    <add key="ExceptionLogger.Type" value="File"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
